@page "/"

<PageTitle>Home</PageTitle>

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Esthiber Valentin Taveras</h5>
    </div>
    <h4 class="card-body">2022-0562</h4>
</div>

